    
body .custom-vue-selector-wrapper {
    margin: 0;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #5d5d5d;
}

.azati-portfolio__card-wrapper{
    /* padding: 15px; */
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    -moz-box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    border-radius: 5px 5px 0 0;
}
.azati-portfolio__card-description{
    padding: 15px;
}
.search {
    /* position: relative; */
    display: flex;
   
  }
.searchItem{
    margin-right: 35px;
    border-radius: 5px;
    height: 50px;
    -webkit-box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    -moz-box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    margin-bottom: 35px;
}
.search-bar{
    width: 100px;
    /* position: absolute; */
  }
form{
    padding-bottom: 25px;
}
.searchTerm{
    width: 150px;
    border: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #52a6de;
    margin-top: 10px;
    margin-left: 5px;
}
.searchTerm::placeholder{
    color: #52a6de;
}
.searchButton {
    position: absolute;
    margin-left: 165px;
    width: 30px;
    height: 50px;
    border: none;
    background: #fff;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
.img-search{
    height: 20px;
    padding-bottom: 5px;
}
.custom-vue-selector {
    position: relative;
    max-width: 300px;
    margin-bottom: 60px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
    color: #52a6de;
    -webkit-box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    -moz-box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
}
.custom-vue-selector__selector {
    margin: 0px;
    padding: 0px;
    visibility: hidden;
    height: 0px;
    list-style: none;
    position: absolute;
    z-index: 1;
    background-color: white;
}
.reset-button {
    position: relative;
    width: 175px;
    margin-bottom: 60px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background-color: #52a6de;
    border: none;
    -webkit-box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    -moz-box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
}
.reset-button:hover{
   background-color: #369ce0;
}
.custom-vue-selector__selector.active {
    visibility: visible;
    height: initial;
}

.custom-vue-selector__selector__item {
    border: 1px solid darkgrey;
    border-top: none;
    width: 225px;
    padding: 5px;
    cursor: pointer;
    z-index: 9999;
}
.custom-vue-selector__selector__item:hover {
    background-color: #fbfbfb;
}

.custom-vue-selector__label{
    margin-bottom: 5px;
    font-weight: 500;    
}

.custom-vue-selector__value {
    margin-bottom: 0px;
    padding: 5px;
    font-weight: 500;
    cursor: pointer;
}
.project-title{
    color: #52a6de;
    font-weight: 600;
}

.selected-values__selector li:last-of-type {
    border-bottom: none;
}
.multiple-selector{
    padding-top: 18px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    -moz-box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    box-shadow: 0px 4px 13px 3px rgba(211,211,211,0.5);
    margin-right: 35px;
}
.multiple-selector__value{
    padding-left: 15px;
}
.multiple-selector__value li{
    list-style: none;
    color: #52a6de;
    margin-bottom: 15px;
}
.multiple-selector__value li:last-child{
    padding-bottom: 18px;
}
.multiple-selector__titles{
    text-align: left;
    font-weight: 500;
    color: #5d5d5d;
    padding-left: 15px;
    margin-bottom: 0px;
}

.multiple-selector__value li:hover{
    color:#ff9620;
    cursor: pointer;
}
.multiple-selector__value li:active{
    color:#ff9620;
    cursor: pointer;
}
hr{
    margin-top: 10px;
    margin-bottom: 20px;
}
.card{
    border: none;
}
.card-image{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.card-columns{
    margin-left: 15px;
}
.img-arrow{
    height: 10px;
    color: #52a6de;
    margin: 0 5px;
}
@media screen and (min-width: 1200px) {
    .container-fluid {
        max-width: 1050px;
    }
}
